*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
    
}
body{
    background-color: black;
}
.container{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    margin: auto;
    width: 61%;
    border: 5px solid black;
    background-color: white;
    height:870px;
}
header{
    background-image: url(task2.jpg);
    height: 207px;
    margin: 10px;
    background-size: cover;
    margin-top: 0px;
    color: white;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.75rem;
}
hr{
    margin:20px 0;
}
ul{
    display: block;
list-style: none;
margin:0px 35px;
width: 90px;

}

.main{
    display: flex;
}
.content1,.content2,.content3{
    width: 95%;
    border: 1px solid black;
}


h4{
    background-color: greenyellow;
    border-bottom: 1px solid black;
    font-size: 1.5rem;
    padding: 10px;
}
p{
    padding: 10px;
}
.content2 ,.content3{
    margin-top: 10px;
}